.conteiner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 400px;
        background-color: brown;
        border: 2px solid black;
      }

      .conteiner-filho {
        display: flex;
      }

      .conteiner-neto {
        display: flex;
      }
      .item {
        flex: 1;
        padding: 20px;
        background-color: aqua;
        border: 2px solid black;
      }

      .item2 {
        flex: 2;
        padding: 20px;
        background-color: beige;
        border: 2px solid black;
      }

      .item3 {
        flex: 3;
        padding: 20px;
        background-color: blue;
        border: 2px solid black;
      }

      .item4 {
        flex: 4;
        padding: 20px;
        background-color: #549936;
        border: 2px solid black;
      }

      .item5 {
        flex: 5;
        padding: 20px;
        background-color: #3c3f3a;
        border: 2px solid black;
      }
